/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jan 2, 2023, 6:58:29 PM
    Author     : root
*/

body{
    background-color: orange;
}

.centerDiv {
  margin: auto;
  width: 50%;
  height: 50%;
  padding: 10px;
  justify-content: center;
  justify-items: center;
}

.loginDiv{
    border: solid black;
    justify-content: center;
    justify-items: center;
    border: solid black;
}

#error{
    color: red;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.h1_center{
  margin: auto;
  margin-top:20px;
  width: 50%;
  height: 50%;
  padding: 10px;
  justify-content: center;
  font-weight: 800;
}

.accept_borrow_btn{
    text-align: center;
    color: white;
    font-weight: bold;
    background-color: blue;
    width:100%;
}