abbr{
    color: orangered;
}
label{
    padding-right: 5px;
}
input{
    
}
#Welcome_h{
    background-color: white;
    text-align: center;
    color: black;
}
#form{
    background-color: whitesmoke;
}

#msg_pass_dont_match{
    color: red;
    margin-left: 10;
}

* {
  box-sizing: border-box;
}

table, tr{
    border: 2px solid black;
    
}
.row {
width:100%;
 
}

img {
width:90%;
}

/* Create two equal columns that floats next to each other */
.column {
  display:inline-block;
  float: left;
  padding: 10px;
 /* 	text-align: center;*/
  border: 5px solid black;
  border-radius: 8px;
  margin-right:2%;
  margin-left:2%;
  min-height:400px;
}

.customColumn{
    display:inline-block;
    float: left;
    padding: 10px;
   /* 	text-align: center;*/
    border: 5px solid black;
    border-radius: 8px;
    margin-right:2%;
    margin-left:2%;
    min-height:400px;
    justify-content: center;
}

.column1Width {
width: 30%;
}

.column3Width {
    margin-bottom: 10px;
    padding: 15px;
    width: 100%;
    height: 100%;
    border: 5px solid black;
    border-radius: 8px;
    margin-right:2%;
    margin-left:4%;

}

.column3WidthChoice{
    
    min-height:400px;
    margin-bottom: 10px;
    padding: 15px;
    width: 100%;
    height: 100%;
    border: 5px solid black;
    border-radius: 8px;
    margin-right:2%;
    margin-left:4%;
}

.column2Width {
width: 60%;
}



.subColumn {
float: left;
  width: 45%;
  padding: 10px;
  border: 5px solid black;
  border-radius: 8px;
  margin-right:10px;
  margin-left:10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
}



h2{
	text-align: center;
}

.button {
  background-color: #ffffff; 
  border: 5px solid black;
  border-radius: 8px;
  color: black;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 4px 2px;
  cursor: pointer;
}



.errorMessage{
    color: red;
}

.h1_center{
    text-align: center;
}

footer {
    background-color: #222;
    color: white;
    padding: 15px;
    position:absolute;
    bottom:0;
    width: 100%;
}

.footerA{
    margin: 12px;
}

.book_details{
    justify-content: center;
    padding: 15px;
    margin-top: 12px;
    
}

.successMessage{
    color:blue;
}

#reviewTextArea{
    width: 80%;
}

.book_image{
    max-width: 80%;
    height: auto;
    max-height: 300px;
}

#ajaxContent{
    overflow-y:auto;
    max-height: 700px;
}

.reviewScore{
    font-weight: 900;
    text-align: center;
}

.reviewCol{
    max-height: 260px;
    height: auto;
    overflow-y:auto;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.return_btn{
    text-align: center;
    color: white;
    font-weight: bold;
    background-color: purple;
    width:100%;
}

.notficicationH{
    text-align: center;
    font-weight: bold;
}

#notificationsParentDiv{
    height:0%;
}