<div>
    <div class="row">
        <div class="col-lg-4 basiclibInfo">
            <p class="basiclibInfoP">
                library name    : <br>
                Library address : <br>
                Library City    : <br>
                Email           : <br>
            </p>
        </div>
        <div class="col-lg-6 infoText">
            <p class="infoTextP">
                
            </p>
        </div>
        <div class="col-lg-2 borrowDiv">
            <button class="borrowButton" onclick="borrow()">Borrow from this library</button>
        </div>
    </div>
</div>