<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>servlets.NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterStudent</servlet-name>
        <servlet-class>servlets.RegisterStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterLibrarian</servlet-name>
        <servlet-class>servlets.RegisterLibrarian</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetUsername</servlet-name>
        <servlet-class>servlets.GetUsername</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetUserEmail</servlet-name>
        <servlet-class>servlets.GetUserEmail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetStudentID</servlet-name>
        <servlet-class>servlets.GetStudentID</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>servlets.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>servlets.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetUserData</servlet-name>
        <servlet-class>servlets.GetUserData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStudent</servlet-name>
        <servlet-class>servlets.UpdateStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateLibrarian</servlet-name>
        <servlet-class>servlets.UpdateLibrarian</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetBooks</servlet-name>
        <servlet-class>servlets.GetBooks</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterStudent</servlet-name>
        <url-pattern>/RegisterStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterLibrarian</servlet-name>
        <url-pattern>/RegisterLibrarian</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetUsername</servlet-name>
        <url-pattern>/GetUsername</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetUserEmail</servlet-name>
        <url-pattern>/GetUserEmail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetStudentID</servlet-name>
        <url-pattern>/GetStudentID</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetUserData</servlet-name>
        <url-pattern>/GetUserData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStudent</servlet-name>
        <url-pattern>/UpdateStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateLibrarian</servlet-name>
        <url-pattern>/UpdateLibrarian</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetBooks</servlet-name>
        <url-pattern>/GetBooks</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
